name: 'epsicube'
services:
  dev:
    build:
      context: .docker
      args:
        DOCKER_GID: '${DOCKER_GID:-1000}'
        DOCKER_UID: '${DOCKER_UID:-1000}'
        PHP_EXTENSIONS: '${PHP_EXTENSIONS:-bcmath curl intl mbstring opcache pcntl pcov pdo_sqlite pdo_pgsql pgsql readline sockets xdebug xml zip}'
    init: true # <- or install tini (schedule:run specific)
    ports:
      - "80:80"
      - "4321:4321" # Documentation
      - "6274:6274" # Mcp Inspector UI
      - "6277:6277" # Mcp Inspector Proxy
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      DANGEROUSLY_OMIT_AUTH: true
    volumes:
      - './:/app'
    networks:
      - epsicube

  timescale:
    image: timescale/timescaledb:2.24.0-pg17
    volumes:
      - pgdata:/pgdata
    environment:
      PGDATA: /pgdata
      POSTGRES_PASSWORD: password
    networks:
      - epsicube

  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '8025:8025'
    networks:
      - epsicube
volumes:
  pgdata:
networks:
  epsicube:
    driver: bridge


