name: 'unigale'
services:
    dev:
        build:
            context: .docker
            args:
                DOCKER_GID: '${DOCKER_GID:-1000}'
                DOCKER_UID: '${DOCKER_UID:-1000}'
                PHP_EXTENSIONS: '${PHP_EXTENSIONS:-bcmath curl intl mbstring opcache pcntl pcov pdo_sqlite readline sockets xdebug xml zip}'
        ports:
            - "80:80"
            - "4321:4321"
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        volumes:
            - './:/app'
        networks:
            - unigale
networks:
    unigale:
        driver: bridge


